<div class="container-create-list">
    <h1>Create a new List</h1>
    <div class="card" style="width: 65%;">
        <div class="container mt-3">
            <%= simple_form_for(@list) do |f| %>
                <%= f.input :name, class:"create-new-list", placeholder: "Name" %>
                <%= f.input :photo, as: :file %>
                <%= f.submit class: "second-btn" %>
            <% end %>
        </div>
    </div>
    <%= link_to "Go back", lists_path, class: "main-btn" %>
</div>