<h1><%= @list.name %></h1>
<%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment, required: true %>
    <%= f.association :movie %>
    <%= f.submit %>
<% end %>

<% @bookmarks.each do |bookmark| %>
    <%= bookmark.comment %>
    <%= bookmark.movie.title %>
    <%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove" } %>
<% end %>

<%= link_to "Go back",  lists_path%>