<div class="container mt-3">
    <h1><%= @list.name %></h1>
    <%= simple_form_for [ @list, @bookmark ] do |f| %>
        <%= f.input :comment, required: true, placeholder: "Comment" %>
        <%= f.association :movie %>
        <%= f.submit class: "second-btn" %>
    <% end %>
    <div class="margin-20">
        <%= link_to "Go back",  lists_path, class: "main-btn" %>
    </div>
</div>

<div class="container movie-grid">
    <% @bookmarks.each do |bookmark| %>
        <div class="card" style="width: 18rem;">
            <%= image_tag(bookmark.movie.poster_url, :alt => "rss feed") %>
            <div class="card-body">
                <h5 class="card-title"><%= bookmark.movie.title %></h5>
                <p class="card-text"><%= "'" + bookmark.comment + "'"  %></p>
                <%= link_to 'delete', bookmark_path(bookmark), method: :delete, class:"second-btn", data: { confirm: "Are you sure you want to remove" } %>
            </div>
        </div>
    <% end %>
</div>
